body {
    background-color: #eae7dc;
}

.container {
    display: block;
    margin: 50px auto;
    max-width: 720px;
    font-family: monospace;
    color: #444;
}

.content {
    padding-bottom: 25px;
}

.aboutetc{
    font-size:14px;
}

.talkstract{
    font-size: 14px;
}

.emphasis{
    font-size: 16px;
}

li {
    padding-bottom: 5px;
}

.footer {
    display: block;
    margin: 10px auto;
    max-width: 720px;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

a {
    color: #bc2419; /*ab2116*/
}

.a-nocolor {
    color: #444;
}

h1 {

}

h3 {
    font-size: 15px;
    font-weight: normal;
}
